*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.flex-item-form{
  text-align: center;
  justify-content: center;
  padding: auto;
  margin: 20px;
  height: 50%;
  background-color: #FAFAFA;
  border-radius: 20px;
  box-shadow: 11px 10px 60px -37px rgba(10,10,10,1);
}
#form-cont-h1{
  font-size: 50px;
}
#form-cont-h2{
  font-size: 30px;
}
#email{
    height: 20px;
    width: 250px;
    padding: 10px;
}
#botEnv{
    border-radius: 50%;
    border: 2px solid #cccccc;
    height: 100px;
    width: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .email{
    height: 10px;
    padding: 10px 90px 10px 10px;
    border: 2px solid #cccccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 14px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }